# Ignore Visual Studio and build artifacts
*.exe
*.obj
*.pdb
*.idb
*.ipch
*.aps
*.sln
*.vcxproj*
*.user
*.vcproj*
*.ncb
*.suo
*.cache
*.log
*.ilk
*.pch
*.res
*.tmp
*.dll
*.lib
*.exp
*.iobj
*.ipdb
*.tlog
*.psess
*.vspx
*.vspscc
.vs/
Debug/
Release/
build/

